* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centerStuff($var1, $var2) {
    display: flex;
    justify-content: $var1;
    align-items: $var2;
}

body {
    font-family: 'Bangers', cursive;
    color: #c9c9c9;

    .container {
        height: 100vh;
        background-image: linear-gradient(120deg, #2F0B1F, #8F142A);

        .scoreboard {
            position: fixed;
            z-index: 100;
            @include centerStuff(space-evenly, center);
            width: 100%;
            height: 5rem;
            padding: 2rem;

            .player-score,
            .computer-score {
                .tag {
                    font-size: 2rem;
                }
                .score {
                    text-align: center;
                    font-size: 1.5rem;
                }
            }
        }

        .game {
            @include centerStuff(center, center);
            height: 100vh;
            width: 100vw;

            .showcase,
            .result {
                background: #2F0B1F;
                padding: 5rem;
                border-radius: 1rem;
                @include centerStuff(center, center);
                flex-direction: column;
                visibility: visible;
                position: absolute;
                z-index: 10;
                opacity: 1;

                .showcase-text,
                .result-text {
                    color: #c9c9c9;
                    font-size: 2rem;
                    text-align: center;
                }

                .player-name__input {
                    margin-top: 1rem;
                    background: none;
                    border: 0;
                    outline: 0;
                    border-bottom: 1px solid #D73128;
                    color: #c9c9c9;
                    height: 3rem;
                    font-size: 1.5rem;
                    text-align: center;
                }

                .player-name__input:focus {
                    border-color:#c58b88;
                    transition: all 0.5s ease;
                }

                .start-button,
                .play-button {
                    font-family: 'Poppins', sans-serif;
                    margin-top: 2rem;
                    background: none;
                    color: #c9c9c9;
                    border: 1px solid #D73128;
                    border-radius: 5rem;
                    padding: 1rem;
                    width: 10rem;
                    cursor: pointer;
                }

                .start-button:hover {
                    background-color: #D73128;
                    width: 15rem;
                    transition: all 0.5s ease-in-out;
                }

                .play-button:hover {
                    background-color: #D73128;
                    transition: all 0.5s ease-in-out;
                }

                .start-button:focus,
                .play-button:focus {
                    outline: none;
                }
            }

            .result {
                visibility: hidden;

                .play-button {
                    pointer-events: none;
                }
            }

            .showcase-hidden {
                visibility: hidden;
                transform: translateY(-100rem);
                pointer-events: none;
                z-index: -10;
                opacity: 0;
                transition: all 1s ease;
            }

            .play-game {
                position: absolute;
                @include centerStuff(center, center);
                flex-direction: column;
                visibility: visible;

                .hands {
                    @include centerStuff(space-evenly, center);

                    .player-hand {
                        img {
                            transform: scaleX(-1);
                        }
                    }
                }

                .options {
                    margin-top: 1rem;
                    padding: 1rem;
                    width: 80%;
                    @include centerStuff(space-evenly, center);

                    .option {
                        font-family: 'Poppins', sans-serif;
                        margin-top: 2rem;
                        background: none;
                        color: #c9c9c9;
                        border: 1px solid #D73128;
                        border-radius: 5rem;
                        padding: 1rem;
                        width: 8rem;
                        cursor: pointer;
                    }

                    .option:hover {
                        padding: 0.8rem;
                        font-size: 1.1rem;
                        background-color: #D73128;
                        transition: all 0.5s ease-in-out;
                    }

                    .option:focus {
                        outline: none;
                    }
                }
            }

            .game-hidden {
                pointer-events: none;
                visibility: hidden;
            }
        }
    }
}

@media(max-width:38rem) {
    body {
        .container {
            height: 100vh;
            width: 100vw;
    
            .scoreboard {
                padding: 1rem;
            }
    
            .game {
                height: 100%;
    
                .showcase,
                .result {
                    width: 90%;
                    padding: 2rem;
                    border-radius: 0.5rem;
        
                    .showcase-text,
                    .result-text {
                        font-size: 1.5rem;
                    }
        
                    .player-name__input {
                        margin-top: 0.5rem;
                        width: 12rem;
                        height: 1.5rem;
                        font-size: 1rem;
                    }
        
                    .start-button,
                    .play-button {
                        margin-top: 1rem;
                        border-radius: 2rem;
                        padding: 0.5rem;
                        width: 8rem;
                        cursor: pointer;
                        font-size: 1rem;
                    }
        
                    .start-button:hover {
                        width: 10rem;
                        background-color: #D73128;
                    }
                }
                .play-game {
                    width: 90%;
                    height: 100vh;
                    .hands {
                        flex: 5;
                        img {
                            width: 10rem;
                            height: auto;
                        }
                    }

                    .options {
                        flex: 1;
                        margin: 0.5rem;
                        flex-direction: column;

                        .option {
                            margin: 0.5rem;
                            flex: 1;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }
    }
}